*
!.gitignore
!README.md

!images
!images/*
!office
!office/*
!origin_data
!origin_data/*
!selkkari
!selkkari/*
!server
!server/*
*/node_modules/*

!*.ts
!*.json
!*.lock
!*.tex
!*.bib
!*.svg

!*.pdf
!*.xlsx
!*.dat
!*.svg
!*.pdf_tex
!*.txt